a:link {
    color: orange;
    text-decoration: none;
  }
  
  a:visited {
    color: orangered;
  }
  
  a:active {
   color: green;
  }
  
  * {
      box-sizing: border-box;
     padding: 0;
     margin: 0;
  }
  
  body {
      font-family: Verdana, sans-serif, arial;
      height: 100%;
      font-size: 100%;
  }
  
  /**********Styles for Headersections  */
.HeaderSection {

  background-color: white;
  height: 90px;
  width: 100%;
  position: relative;
  line-height: 1;
}

.headingtitle{
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
color: gold;
}

.HeaderDesign {
padding: 30px;
position: relative;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}

.search{
display: block;
position: relative;
}
#search-space {
width: 390px; 
height: 35px;
margin-left: 10px;
border-radius: 9px;
text-align:center;
position: relative;
outline: 0; 
}

#submit{
border-radius: 5px;
outline: 0;
height: 35px;
padding: 10px;
margin: -5px;
color: white;
background: black;
border: 0;
cursor: pointer;
}

.titlebtn {
display:block;
border-radius: 5px;
cursor: pointer;
}

.titlebtn #btn1{
background-color: white;
display: inline-block;
height: 35px;
color: black;
padding: 13px;
text-align: center;
width: 100px;
cursor: pointer;
font-size: 16px;
font-family: arial;
}


.titlebtn #btn1:hover {
background-color: teal;
color: white;
transition: ease 0.8 background;
}

.titlebtn #btn2{
 background-color: white;
 display: inline-block;
 height: 35px;
 color: black;
 padding: 13px;
 text-align: center;
 width: 100px;
 cursor: pointer;
 font-size: 16px;
 font-family: arial;
}

.titlebtn #btn2:hover {
background-color: teal;
color: white;
}

/******end of headersections  */

  
  /******Menu Styles*****/
  .topnav {
    position: static;
    width: 100%;
    line-height: 1.5;
    background-color: rgba(65, 63, 63, 0.8);
    font-size: 17.33px;
    font-family: arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    display: block;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .topnav .logo2 {
    display: none;
  }
  
  .lists {
    font-family: sans-serif;
    width: 100%;
    position: static;
  }
  
  .menu-lists {
    position: static;
    display: flex;
    height: 90px;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    align-content: space-between;
    list-style-type: none;
    width: 100%;
  }
  
  .menu-lists li {
   text-align: center;
   position: static;
   margin-top: 20px;
  }
  
  .menu-lists li a {
    color: white;
    padding: 10px;
  }
  
  .menu-lists li a:hover {
    color: teal;
    transition: ease inherit 0.8s;
  }
  
  /*End of menu styles*/
  
  .store {
    width: 88%;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    margin-top: 20px;
    position: relative;
    background-color: white;
    border-radius: 10px;
  }
  
  
  .store-heading {
    margin: 20px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  }
  
  .store-heading h3 {
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    font-size: 2.5rem;
    color: #323543;
  }
  
  .store-heading h3::first-letter {
    color: gold;
    font-size: 2.8rem;
  }
  
  .bicycleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
    width: 100%;
  }
  
  .bicycle-box {
    width: 250px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    position: relative;
    margin: 10px 30px;
  }
  
  .bicycle-box img {
    height: 180px;
    max-width: 100%;
  }
  
  .bicycle-box p {
    color: #4d4d4d70;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
  }
  
  .price {
    color: #2c2c2c;
    font-family: poppins, arial, sans-serif;
    font-size: 1rem;
  }
  
  .buy-btn {
    position: absolute;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: calibri, sans-serif;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    border-radius: 20px;
    color: #FFFFFF;
    background: linear-gradient(120deg, gold 20%, gold);
    display: none;
    animation: fade 0.2s;
  }
  
  .bicycle-box:hover {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    cursor: pointer;
  }
  
  .bicycle-box:hover .price {
    color: #6b60ec;
    transition: all ease 0.2s;
  }
  
  .bicycle-box:hover .buy-btn {
    display: flex;
    color: white;
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /********end of store styles*/
  
  /******media styles  */
  .media {
    display: block;
    width: 100%;
    position: static;
    background-color: rgba(5, 2, 48, 1);
    height: 130px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-variant: normal;
    position: relative;
    padding: 10px 0 0 0;
  }
  
  .socialmedia {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    position: relative;
  }
  
  .socialmedia h3 {
    color: gold;
    font-size: 2.3em;
  
  }
  
  .socialmedia .top {
    position: relative;
    padding: 15px 5px 0 10px;
    font-size: 20.33px;
    color: white;
  }
  
  .news {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    font-size: 17px;
    font-family: sans-serif;
    color: white;
    padding: 8px 8px 0 8px;
  }
  
  .news .newsLetter {
    font-size: 2em;
    text-transform: capitalize;
    font-family: arial;
    padding: 0 5px 0 5px;
  }
  
  .news .email {
    width: 400px;
    height: 30px;
    border-radius: 3px;
    outline: 0;
    border: 0;
  }
  
  .news .email[placeholder] {
    text-align: center;
    font-family: arial, sans-serif;
    font-size: 16.33px;
  }
  
  .news .subscribe {
    padding: 8px;
    border-radius: 3px;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: white;
  }
  
  .news .subscribe:hover {
    background-color: teal;
    color: white;
    transition: ease background 1s;
  }
  /* end of media styles */
  
  
  /**** footer styles****/
  
  .footer {
    background-color: lightslategrey;
    padding: 7px;
    color: white;
    position: relative;
    font-family: sans-serif;
    font-size: 17.33px;
    line-height: 1.6;
    text-align: center;
  }
  
  .footerItems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 3px;
    width: 100%;
    position: relative;
  }
  
  .BicycleShortLinks {
    display: block;
    width: 100%;
    position: relative;
    font-size: 17.33px;
    font-family: sans-serif;
    line-height: 2;
  }
  
  .bottomLinks {
    display: flex;
    justify-content: center;
    align-content: center;
    align-content: center;
    flex-direction: column;
    list-style-type: none;
  }
  
  .bottomLinks li {
    position: relative;
    font-family: Roboto, sans-serif;
  }
  
  .bottomLinks li a {
    display: block;
    padding: 7px;
    color: white;
  }
  
  .bottomLinks li a:hover {
    color: teal;
    transition: ease 1s color;
  }
  
  
  .bikebottomEvents {
    display: block;
    width: 100%;
    position: relative;
    font-size: 17.33px;
    font-family: sans-serif;
    line-height: 2;
  }
  
  .bottomeventslinks {
    display: flex;
    justify-content: center;
    align-content: center;
    align-content: center;
    flex-direction: column;
    list-style-type: none;
  }
  
  .bottomeventslinks li {
    position: relative;
    font-family: Roboto, sans-serif;
  }
  
  .bottomeventslinks li a{
    display: block;
    padding: 7px;
    color: white;
  }
  
  .bottomeventslinks li a:hover {
    color: teal;
    transition: ease 1s color;
  }
  
  .stolenBicycle {
    display: block;
    width: 100%;
    position: relative;
    font-size: 17.33px;
    font-family: sans-serif;
    line-height: 2; 
  }
  
  .stolenListItems {
    display: flex;
    justify-content: center;
    align-content: center;
    align-content: center;
    flex-direction: column;
    list-style-type: none; 
  }
  
  .stolenListItems li {
    position: relative;
    font-family: Roboto, sans-serif;
  }
  
  .stolenListItems li a {
    display: block;
    padding: 7px;
    color: white; 
  }
  
  .stolenListItems li a:hover {
    color: teal;
    transition: ease 1s color; 
  }
  
  
  .contact {
    display: block;
    color: black;
    font-family: sans-serif;
  }
  
  .contactus {
    text-align: center;
    color: white;
    font-family: sans-serif;
  }
  
  .contact .bottom {
    display: block;
    padding: 8px;
    font-size: 17px;
    color: gold;
  }
  
  .contact .bottom:hover {
    color: white;
    transition: ease 1s color;
    cursor: pointer;
  }